/* Importar fuentes custom */
@font-face{
    font-family: "yanone";
    src: url('fonts/yanone.ttf');
}

@font-face {
    font-family: "finger";
    src: url('fonts/finger.ttf');
}

@font-face {
    font-family: "titilium";
    src: url('fonts/titilium.ttf');
}
/* Generales */

*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "yanone", Arial, Helvetica;
    font-size: 20px;
    background: url('../img/pattern.png');
    background-attachment: fixed;
}

.clearfix{
    float: none;
    clear: both;
}
/* Barra de navegación / cabecera */

header {
    display: block;
    width: 100%;
    height: 90 px;
    background: rgba(53, 103, 164, 1);
    position: fixed;
    text-transform: uppercase;
}

header ul{
    display: block;
    text-align: center;
    height: inherit;
    margin: 0px auto;
    margin-top: -3px;
}

header ul li{
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    line-height: 90px;
}

header ul li a{
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    height: inherit;
    text-decoration: none;
    color: white;
    transition: all 300ms;
}

header a:hover,
.actived{
    background: rgba(0,0,0, 0.8);
}

/* Logotipo */

#logo{
    font-family: "finger";
    font-size: 30px;
}

#logo a{
    transition: color 500ms, transform 500ms;
}
#logo a:hover{
    background:transparent;
    color: black;
    transform: scale(1.5,1.5);
}

/* Contenedor principal */

#content {
    min-height: 400px;
    height: auto;
    width: 75%;
    margin: 0px auto;
    box-shadow: 0px 0px 40px black;
    border-left: 1px solid #b7b7b7;
    border-right: 1px solid #b7b7b7;
    background: rgba(255,255,255, 0.7);
    padding-top: 120px;
    overflow: auto;
}

/* Pie de pagina */ 

footer{
    width: 75%;
    margin: 0px auto;
    padding-top: 15px;
    color: rgba(0,0,0, 0.5);
}

/* Sobre mí */

#title{
    width: 70%;
    margin: 0px auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 70px;
}

#title h1{
    font-family: "finger";
    font-size: 60px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

#title h2{
    font-size: 25px;
    color: gray;
    margin-top: 10px;
    margin-bottom: 5px;
}

#title p{
    font-size: 22px;
    color: gray;
    font-weight: bold;
}

article.about{
    width: 70%;
    margin: 0px auto;
    margin-bottom: 20px;
    font-size: 23px;
}

.about h2{
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.about p{
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: justify;
}

/* Sección con formulario*/
.container {
    padding: 50px;
    padding-top: 10px;
}

.container h2{
    display: block;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.container .image{
    float: left;
    width: 48%;
}

.container .image img{
    width: 100%;
}

.container .data{
    float: left;
    width: 48%;
    margin-left: 30px;
}
form{
    width: 80%;
}

form label{
    display:block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form textarea{
    width: 45%;
    padding: 5px;
}

form button,
form input[type='submit'],
.button-edit,
.button-delete{
    display: block;
    font-size: 17px;
    padding: 10px;
    margin-top: 15px;
    color: white;
    background: rgb(53, 103, 164);
    border: 1px solid rgb(13, 67, 133);
    cursor: pointer;
}

.button-edit,
.button-delete{
    width: 15%;
    font-size: 20px;
    float: left;
    margin-right: 15px;
    text-decoration: none;
    text-align: center;
    border: none;
}

.button-edit{
    background: rgba(255, 166, 1, 0.753);
}

.button-delete{
    background: rgba(255, 0, 0, 0.753);
}

.button-edit:hover,
.button-delete:hover{
    opacity: 0.8;
}
form button:hover,
form input[type='submit']:hover{
    background: rgba(53, 103, 164, 0.8);
    border: 1px solid rgb(13, 67, 133);
}

form input[disabled]{
   opacity: 0.4;
   cursor: not-allowed;
}

.form_error{
    padding: 3px;
    background: red;
    color: white;
    font-size: 16px;
    margin-left: 5px;
}

.message {
    padding: 5px;
    border: 1px solid #eee;
    width: 40%;
}

.success {
    background: rgba(16, 126, 16, 0.8);
    color: white;
}

.message a{
    color: white;
}

.failed {
    background: rgba(255,0,0,0.8);
    color: white;
}

.project{
    list-style: none;
    display: block;
    float: left;
    width: 30%;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}

/* Mascara div imagen */ 

.project .image{
    width: 100%;
    height: 250px;
    overflow: hidden;
}
.project img{
    width: 100%;
}

.project a{
    text-decoration: none;
    color: black;
}

.bx-wrapper {
    margin: 0 auto;
}